
/* header and footer css */
header, footer {
  background-color: #e0fbf6;
  font-family: roboto;
  padding: 10px;
}

.jumbotron {
  background-color: #e0fbf6;
}
header div h1 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: auto 0;
  padding: 15px 0px 0px;
}

header div p {
  text-align: center;
  font-size: 16px;
  margin: auto 0;
  padding: 0px 0px 15px 0px;
}

hr {
  border-top: 2px solid black;
  margin: 3px;
}

footer div p {
  font-size: 16px;
  margin: 10px;
  text-align: center;
}

/* background and description css*/

.descriptionSection {
  margin: 0 20%;
}

body {
  background-color: #fff2f2;
}


/* nav bar css */

.homeBtn:hover{
  font-size: 20px;
}

a:hover {
  font-weight: bold;
  text-decoration-line: none;
}

a:visited {
  color: #4b7aff;
}

a:active {
  text-decoration-line: none;
}

/* carousel css */

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

.resizeImg {
  width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .carousel-caption h2 {
    font-size: 125%;
  }
}

@media (max-width: 767px) {
  .carousel-caption h2 {
    font-size: 100%;
  }
}

@media (max-width: 560px) {
  .carousel-caption h2 {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  .carousel-caption h2 {
    font-size: 25%;
  }
}
